@charset "utf-8";

.hero {
  margin: 0 auto;
  position: relative;
  width: 800px;
}
.slide-container,
.slide-container .item {
  height: 450px;
  width: 100%;
}
.slide-container {
  overflow: hidden;
  position: relative;
}
.slide-container .item {
  display: none;
  left: 0;
  position: absolute;
  top: 0;
}
.slide-container .background {
  overflow: hidden;
  position: absolute;
}
.slide-container .foreground {
  color: #fff;
  text-align: center;
}
.slide-container .foreground .element {
  position: relative;
}
h2 {
  font-size: 50px;
  margin: 170px 0 20px;
}
.slide-container .foreground p {
  font-size: 20px;
}