html,
body {
  height: 100%; /* パララックスに必要 */
  margin: 0;
  padding: 0;
}
.parallax-wrap {
  height: 100%; /* パララックスに必要 */
}
.parallax-panel {
  background-attachment: fixed; /* パララックスに必要 */
  height: 100%; /* パララックスに必要 */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.parallax-wrap .first {
  background-image: url(001.jpg);
}
.parallax-wrap .second {
  background-image: url(002.jpg);
}
.parallax-wrap .third {
  background-image: url(003.jpg);
}
.parallax-panel-inner {
  /* 上余白が欲しい場合、絶対配置が楽 */
  position: absolute;
  top: 40px;
  padding: 0 40px;
}
.parallax-panel p {
  background: rgb(255, 255, 255); /* 古いブラウザ用 */
  background: rgba(255, 255, 255, 0.7);
  padding: 20px 80px;
}
