/* 共通の設定 */
body {
  margin: 0;
  padding: 0;
  background: #ddd;
}
h1 {
  margin-top: 0;
}
.container {
  background: #fff;
  margin: 0 auto;
}
.main {
  background: red;
}
.sub {
  background: blue;
}
.clearfix:after {
  clear: both;
  content: "";
  display: block;
}
.picture {
  max-width: 400px;
}
.picture > img {
  /* 画像の幅は100%にして、限界は親要素で指定する */
  width: 100%;
  height: auto;
}

/* メディアクエリで画面幅に応じた指定を適用する */

/* スマートフォン */
@media (max-width: 767px) {
  .container {
    padding: 20px;
  }
  h1 {
    font-size: 30px;
  }
}

/* PC */
@media (min-width: 768px) {
  .container {
    /* 幅は%で指定する */
    width: 100%;
    /* 最大・最小値は数値で指定する */
    max-width: 960px;
  }
  h1 {
    font-size: 60px;
  }
  .main {
    float: left;
    width: 60%;
  }
  .sub {
    float: left;
    width: 40%;
  }
}