@charset "utf-8";

* {
  font-family: Meiryo, sans-serif;
}

pre, pre *, code, code * {
  font-family: Consolas, Meiryo, monospace;
}

p.wrap-img {
  text-align: center;
}

#img1 {
  max-width: 50%;
  max-height: 50%;
}