body {
  margin: 0;
  padding: 0;
}
article {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
textarea {
  border: 1px solid #aaa;
  margin: 0;
  margin-top: 2em;
  min-height: 400px;
  padding-left: 4px;
  padding-right: 4px;
  width: calc(100% - 10px);
}
input[type='text'],
textarea {
  font-family: Consolas, Meiryo, monospace;
  font-size: 16px;
}
ul {
  padding: 0;
}
li {
  display: table;
  width: 100%;
}
label {
  display: table-cell;
  width: 80px;
}
.wrap-input {
  display: table-cell;
}
input[type='text'] {
  border: 1px solid #aaa;
  padding-left: 4px;
  padding-right: 4px;
  width: calc(100% - 10px);
}