@charset "utf-8";

body {
  font-family: Meiryo, sans-serif;
}
table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 8px 16px;
}
.product-info:nth-child(odd) {
  background: #def;
}
.th {
  background: #888;
  color: #fff;
}
.total {
  font-weight: bold;
}
.price,
.sum,
.total,
.th-total {
  text-align: right;
}